* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

.grid {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    gap: 10px;
}

img {
    width: 20vw;
}